@CHARSET "ISO-8859-1";

.left-content{
    float: left;
    width:16%;
    margin-left:0%;
    background:#352F2F;
}

.center-content{
    position: absolute;
    margin-left: 16%;
    padding: 1% 2% 2% 2%;
    background:white;
    height: 97%;
    overflow: auto;
    width:80%;
}